/* --------------- */
/* Обнуление стиля */
/* --------------- */
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*::before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight: 400;}

/* --------------- */
/* Мой новый стиль */
/* --------------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

body{
    background-color: #060809;
}
.wrapper{
    min-width: 320px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.container{ 
    padding: 0 20px; 
}
/* шапка */
.header{
    background-color: #060809;
    flex: 0 0 auto;
}
.header_inner{
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo_link{
    margin-left: 8px;
}
.logo_link-img{
    width: 20%;
}
@media (min-width: 640px){
    .container{
        padding: 0 30px;
    }
    .header_inner{
        min-height: 100px;
    }
}
@media (min-width: 768px){
    .container{
        padding: 0 40px;
    }
    .logo_link{
        margin-left: 0px;
    }
}
@media (min-width: 1024px){
    .container{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 40px;
    }
}
@media (min-width: 1440px){
    .container{
        max-width: 1320px;
    }
}

.head{
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 190px;
}
.top-slider{
    background: rgba(33,33,33,0.5);
    min-height: 190px;
}
.top-slider_item{
    text-align: center;
    padding: 10vh 0;
    color:#fff;
}
.top-slider_title{
    font-family: 'Roboto', sans-serif;
    font-weight: 500px;
    font-style: normal;
    line-height: 28px;
    font-size: 28px;
    text-transform: uppercase;
    
}
.top-slider_subtitle{
    color: #ccc;
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;
    font-style: italic;
    line-height: 28px;
    font-size: 20px;
}

/* Навигация */
.header_burger{}
.header_menu{}

.header_list{
    display: flex;
    position: relative;
    z-index: 2;
}
.header_list li{
    list-style: none;
    margin: 0px 0px 0px 20px;
}
.header_link{
    color:#fff;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
}
@media screen and (max-width:800px){
    body.lock{
        overflow: hidden;
    }
    .header_body{
        height: 50px;
    }
    .header_logo{
        flex: 0 0 40px;
    }
    .header_burger{
        display: block;
        position: relative;
        min-width: 30px;
        height: 20px;
        position: relative;
        z-index:3;
    }
    .header_burger span{
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header_burger::before,
    .header_burger::after{
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        transition: all 0.3s ease 0s;
    }
    .header_burger::before{
        top: 0;
    }
    .header_burger::after{
        bottom:0;
    }

    .header_burger.active span{
        transform:scale(0);
    }
    .header_burger.active:before{
        transform:rotate(45deg);
        top: 9px;
    }
    .header_burger.active:after{
        transform:rotate(-45deg);
        bottom: 9px;
    }
    .header_menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        transition: all 0.3s ease 0s;
        background: linear-gradient(#333, rgba(51, 51, 51, 0.897));
        padding: 70px 10px 20px 10px;
    }
    .header_menu.active{
        top: 0;
    }
    .header_list{
        display: block;
    }
    .header_list li{
        margin: 0 0 20px 0;
    }
    .header_link{
        font-size: 24px;
    }
}


/* Основной отдел */
.content{
    flex: 1 0 auto;
}
.line{
    border-top: 3px solid #f1f1f1;
    margin: 5px 0;
}
.top-head{
    background: #A04FBD;
    height: 40px;
    justify-content: center;
    align-items: center;
}
.top-head-title{
    text-align: center;
    color: #2B4074;
}
.top-head-title h3{
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 700px;
}
.block {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    height: 510px;
    overflow: hidden;
}
.block_content{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    height: 510px;
    flex: 2;
    
}
.block_content2{
    display: flex;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    height: 510px;
    flex: 1;
}
.block2{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    height: 510px;
    overflow: hidden;
}
.block2_content{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    height: 510px;
    flex: 1;
}
.block2_content2{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    height: 510px;
    flex: 2;
}
.block2 h2{
    position: absolute;
    text-align: center;
    font-family: 'Roboto';
    font-size: 60px;
    color:white;
    overflow: hidden;
}
.block2_content21{
    padding: 5px 0;
    flex: 2;
}
.form{
    display: flex;
    align-content: center;
    justify-content: center;
    color: white;
    background-color: #000;
    height: 255px;
}
.block img{
    object-fit: cover;
    filter: saturate(30%);
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.block2 img{
    object-fit: cover;
    filter: saturate(30%);
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.block img:hover{
    transform: scale(0.5);
    filter: saturate(100%);
}
.block2 img:hover{
    transform: scale(1.2);
    filter: saturate(100%);
}

.block h2{
    position: absolute;
    text-align: center;
    font-family: 'Roboto';
    font-size: 60px;
    color:white;
}


@media(min-width: 640px)
{
    .block_content, .block_form{
        width: 48%;
        margin-right: 2%;
    }
    
}


/* Подвал */
.footer{
    flex: 0 0 auto;
    background-color: #9E574E;
}
.footer_row{
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_text{
    color: #fff;
}
.footer_text a{
    text-decoration: none;
    color: pink;
}

@media(min-width: 1024px)
{
    .colums{
        flex-direction: row;;
    }
}
